body {
    color: white;
    font-family: Courier, monospace;
    height: auto;
    background-repeat: repeat-y;
    background: linear-gradient(180deg, #003380 0%, #39004d 100%) !important;
}

p {
    word-break: normal;
    font-size: 13px;
    text-align: justify;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

h3 {
    margin-block-start: 0.6em;
    margin-block-end: 0.3em;
}


h4 {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
}


h5 {
    margin-block-start: 0.7em;
    margin-block-end: 0.3em;
}

div {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

.container {
    min-width: auto;
    max-width: 900px;
    align-self: center;
    height: 100%;
    margin: auto;
    padding: 0 10px;
}


.cabecalho {
    width: auto;
}

.info {
    width: auto;
}

.divisor {
    background-color: gray;
    height: 1px;
    width: auto;
}

.content {
    width: auto;
}

.content p {
    display: inline-block;
}

.content .formacao-subtitle {
    display: inline-block;
}