body {
  color: #ccc;
  font-family: "Montserrat";
  /* background-repeat: repeat-y; */
  /* background: linear-gradient(180deg, #003380 0%, #39004d 100%) !important; */
  background-color: #262626;
  padding: 20px 10px;
  height: auto;
}

main {
  position: relative;
  margin: 0 auto;
  width: 70vw;
}

header {
  text-align: center;
}

nav {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: rgb(27, 45, 0);
  background-color: #67503c;
}

nav a {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  font-size: large;
  font-weight: 700;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: rgba(144, 104, 82, 0.3);
} 

#about {
  position: relative;
  height: auto;
  background-color: #313131;
  width: auto;
  padding: 15px;
}

#about p {
  text-align: justify;
}

#about h3 {
  background: -webkit-linear-gradient(right, #8fffa0, #8000ff);
  background: -o-linear-gradient(right, #8fffa0, #8000ff);
  background: linear-gradient(to right, #8fffa0, #8000ff);
  background: linear-gradient(to right, #8fffa0, #8000ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  width:47%;
  background-repeat:no-repeat
}

h2::first-letter {
  font-size: 150%;
}

h3::first-letter {
  font-size: 130%;
}

h1, h2 {
  text-align: center;
}